## BREAK

In [ ]:
Name = ['MOHITH','KRISHNA','SAI','ADITHYA']
for search  in Name:
    print('--------')
    if search == 'ADITHYA':
        
        print(search)
        break

In [ ]:
values = [1, 11, 13, 3, 5, 8, 15, 17, 7, 9,10]

for i in values:
    
    print('in take value ->',i)
    if i % 2 == 0:
        print(i)
        continue

In [ ]:
nums = ['Rohit','Varun','Neha','Akash','Priti','Rahul','Akash','Mayank','Deepa','Akash','SAI']
for i in nums:
    if i == 'Akash':
        continue        
    print(f'{i}')

In [ ]:
values = [1, 11, 13, 3, 5, 8, 15, 17, 7, 9,10]
for i in values:
    
    if i%2==0:
        #print(F'EVEN NUMBER {i}')
        pass
    print(f'ODD NUMBER {i}')
print('end of the loop')

In [ ]:
name = 'abcdefghijklmnopqrstuvwxyz'
name[1:10:2]

In [ ]:
nums=['rohit','varun', 'neha','priti', 'akash', 'rahul', 'mayank', 'deepa']
for name in nums:
    if name=='akash':
        pass
    print(name)

In [2]:
nums = ['rohit', 'varun', 'neha', 'priti', 'akash', ['mohith', 'krishna', 'sai'], 'rahul', 'mayank', 'deepa']

In [3]:
nums[1:5:1]

['varun', 'neha', 'priti', 'akash']

In [9]:
new_name =['adithya', 'kakani']
nums.extend(new_name)

print=(nums)

In [12]:
nums

['rohit',
 'varun',
 'neha',
 'priti',
 'akash',
 ['mohith', 'krishna', 'sai'],
 'rahul',
 'mayank',
 'deepa',
 'adithya',
 'kakani',
 'adithya',
 'kakani',
 'adithya',
 'kakani']

In [17]:
nums.remove('mohith')

ValueError: list.remove(x): x not in list