In [78]:
# Define personal information
name = 'Mohit'
age = 25
mobile_number = '6281234148'

In [79]:
# Using f-strings for formatted output
print(f"Using f-string: Name: {name}, Age: {age}, Mobile Number: {mobile_number}")

Using f-string: Name: Mohit, Age: 25, Mobile Number: 6281234148

In [80]:

# Using the format() method
print("Using format(): Name: {}, Age: {}, Mobile Number: {}".format(name, age, mobile_number))

Using format(): Name: Mohit, Age: 25, Mobile Number: 6281234148

In [81]:
# Using string concatenation
print("Using concatenation: Name: " + name + ", Age: " + str(age) + ", Mobile Number: " + mobile_number)

Using concatenation: Name: Mohit, Age: 25, Mobile Number: 6281234148

In [82]:
# Using multiple print statements
print("Using multiple print statements:")
print("Name:", name)
print("Age:", age)
print("Mobile Number:", mobile_number)

Using multiple print statements:
Name: Mohit
Age: 25
Mobile Number: 6281234148

### arithmetic operators

In [83]:
a = 10
b = 3

print("Addition:", a + b)            # 13
print("Subtraction:", a - b)         # 7
print("Multiplication:", a * b)      # 30
print("Division:", a / b)            # 3.333...
print("Floor Division:", a // b)     # 3
print("Modulus:", a % b)             # 1
print("Exponentiation:", a ** b)     # 1000

Addition: 13
Subtraction: 7
Multiplication: 30
Division: 3.3333333333333335
Floor Division: 3
Modulus: 1
Exponentiation: 1000

In [84]:
VAR_1 = 5
VAR_2 = 25

In [85]:
print (F' {VAR_1}  =  {VAR_2}  : {VAR_1 == VAR_2}' )
print (F' {VAR_1}  !=  {VAR_2} : {VAR_1 != VAR_2}' )
print (F' {VAR_1}  <  {VAR_2}  : {VAR_1 < VAR_2}' )
print (F' {VAR_1}  >  {VAR_2}  : {VAR_1 > VAR_2}' )
print (F' {VAR_1}  <=  {VAR_2} : {VAR_1 <= VAR_2}' )
print (F' {VAR_1}  >=  {VAR_2} : {VAR_1 != VAR_2}' )

 5  =  25  : False
 5  !=  25 : True
 5  <  25  : True
 5  >  25  : False
 5  <=  25 : True
 5  >=  25 : True

In [86]:
Circle_area = 3.14 * VAR_1**2

In [87]:
print(Circle_area)

78.5

In [88]:
radius = int(input("enter radious :  "))

enter radious :   20

In [89]:
Circle_area = 3.14 * radius**2

In [90]:
print(f"Area of circle when radius is {radius}  :   {Circle_area}" )

SyntaxError: invalid syntax. Perhaps you forgot a comma? (2174619667.py, line 1)